.topBar {
    margin-top: -5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.2rem);
    padding: 10px 20px;
    position: fixed;
    margin-left: 1rem;
    border-bottom: 2px solid #ccc;

    
    width: 95%;
    border-radius: 1rem;
    z-index: 1000;
    font-family: 'sans-serif';
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-right: 5px;
  }
  
  .tagline {
    color:#38170c;
    font-size: 18px;
    font-weight: bold;
  }
  
  .menus {
    display: flex;
    gap: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
  }
  .menuItem:hover{
    color: #00d9ff;
    
    
  }
  
  .menuItem:active{
    color: white;
  }
  .menuItem {
    text-decoration: none;
    color: black;
    position: relative; /* Needed for absolute positioning of subMenu */
    padding: 5px 10px;
    border-radius: 5px;
  }

  .subMenuItem {
    text-decoration: none;
    color: black;
    padding: 10px 15px; /* Padding for clickable area */
    display: block; /* Make the entire area clickable */
}
.subMenuItem:hover {
  background-color: #38170c; /* Change background on hover */
  color: white; /* Change text color on hover */
}
 .subMenu {
  display: none; /* Hide by default */
  position: absolute; /* Position below the menu item */
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1000;
  padding: 5px 0; /* Add padding */
}

.menuItemContainer:hover .subMenu {
  display: block; /* Show on hover */
}
  
  .rightSection {
    display: flex;
    align-items: center;
    gap:15px;
   

    
  }
  
  .currencyDropdown {
    border: 1px solid #38170c;
    border-radius: 5px;
    padding: 5px;
    width: 5rem;
    
  }
  
  .cartContainer {
    position: relative;
    cursor: pointer;
  }
  
  .cartIcon {
    font-size: 24px;
  }
  
  .cartCount {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.2rem);
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px;
    border-radius: 8px;
    color: #333;
  }
  
  .cartList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    
  }
  
  .cartItemDetails {
    display: flex;
    justify-content: space-between;
    width: 80%;
    
    
  }
  
  .quantityControls {
    display: flex;
    align-items: center;
  }
  
  .quantityButton {
    background-color: #ddd;
    color: black;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
  }
  
  .checkoutButton {
    margin-top: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.2rem);
    color: black;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  .removeButton {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.2rem);
    color: black;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .removeButton:hover {
  background-color: #38170c;
  color: white;
  }

  .checkoutButton:hover {
    background-color: #38170c;
    color: white;
    }

    .quantityButton:hover {
      background-color: #38170c;
      color: white;
      }

  .loginButton {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.2rem);
    color: black; 
    border: 1px solid #38170c;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 5rem;
    margin-bottom: 1rem;
  }

  .loginButton:hover{

    background-color: #38170c;
    color: white;
  }

